n8n/content_generation.json
{
  "name": "Content Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 240],
      "webhookId": "wisdom-content-generation"
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 420]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://kwyqaewdvvdhodxieqrh.supabase.co/rest/v1/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.queued"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "GET Queued Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "command": "C:/Users/ziadf/miniconda3/envs/chatterbox/python.exe C:/AI/system/scripts/orchestrator.py"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Run Orchestrator",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 320]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://kwyqaewdvvdhodxieqrh.supabase.co/rest/v1/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.queued"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\",\n  \"updated_at\": \"{{ $now.toISO() }}\",\n  \"orchestrator_exit_code\": {{ $node['Run Orchestrator'].json.exitCode }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Update Content Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Content generation pipeline executed\",\n  \"orchestrator_exit_code\": {{ $node['Run Orchestrator'].json.exitCode }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 320]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "GET Queued Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GET Queued Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Queued Content": {
      "main": [
        [
          {
            "node": "Run Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Orchestrator": {
      "main": [
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content Status": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["wisdom", "content-generation", "content-pipeline"],
  "triggerCount": 0,
  "updatedAt": "2026-03-26T00:00:00.000Z",
  "versionId": "1"
}
